.notfound {
  text-align: center;
  margin-top: 80px;
  color: #333;
}

.notfound h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.notfound p {
  font-size: 20px;
}

.notfound .btn {
  margin-top: 20px;
  padding: 10px 18px;
  background: #333;
  color: white;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
}
